header {
    border-bottom: 1px solid;
    padding: 1rem;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: inherit;

}

.has-child {
    position: relative;
}

.sub-menu {
    position: absolute;
    width: 30rem;
    visibility: hidden;
    opacity: 0;
    right: 0;
    transition: 500ms;
}

li.has-child:last-child .sub-menu {
    left: 0;
    right: auto;
}

.has-child.active .sub-menu {
    visibility: visible;
    opacity: 1;
    transition: 500ms;
}

.clicable-menu,
.clicable-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clicable-menu .sub-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    position: absolute;
    transition: 500ms;
}

.clicable-menu .has-child {
    position: relative;
}
.clicable-menu .has-child.active .sub-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    right: 0;
    left: auto;
}
.clicable-menu .has-child.end.active .sub-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    left: 0;
    right: auto;
}
